   <h1>Helloooo Mockterviewers!</h1>
   <h2>Mockterview is the best way to prepare for job interviews by getting real feedback from professional interviewers. </h2>
   <h2>30 minute video interview with an HR professional. 30 minutes of genuine feedback. </h2>
   <br>
   <p>Get feedback. Get better. Get a job.</p>
   <br>
   
   <p>If you have a real interivew coming up, then prepare by booking a session with one of our interviewers.<p>
   <p>At the scheduled time you will have a 30 minute video interview asking you the sorts of questions you are likely to get on the big day </p>
   <p>Unlike the big day however, immediately after the interview, the interviewer will then share their notes and genuine feedback on how you did, and any tips to improve <p>
   <br>
   <h2>Sign up now to book an interview with our Mockterviewers!</h2>

   <%= form_for :user do |f| %>
      Username: <%= f.text_field :username %><br/>
      Email: <%= f.text_field :email %></br>
      Industry: <%= f.text_field :industry %><br/>
      Experience Level: <%= f.text_field :experience_level %></br>

         <%= f.submit %>
   <% end %>

   